.card1{
    background-image: url(images/abs-1.jpg);
}
.card2{
    background-image: url(images/abs-2.jpg);
}
.card3{
    background-image: url(images/abs-3.jpg);
}
.card4{
    background-image: url(images/abs-4.jpg);
}
.card:hover{
    transform: translateY(-10px);
}